@media (max-width: 1270px)
    .container
        width: 1100px
        border: 1px solid yellow
    .avatar-block
        top: 40px
    .themes
        &__post
            width: 220px
        &__text
            width: 140px
    .others
        &__first
            width: 542px
            &-img
                height: 299px
                width: 270px
@media (max-width: 1200px)
    .container
        width: 1030px
        border: 1px solid green
    .header
        &__search
            &-input
                width: 200px
                padding-right: 40px
            &-button
                right: 16.3px
                top: 12px
            &-icon
                width: 15px
                height: 15px
    .text-block
        &__second
            font-size: 35px
            max-width: 400px
    .themes
        &__post
            width: 210px
        &__text
            width: 140px
    .grid
        &-one
            grid-column: 1 / 3
        &-two
            grid-column: 3 / 4
        &-three
            grid-row: 5 / 6
            grid-column: 1 / 2
        &-ten
            grid-column: 3 / 4
            grid-row: 5 / 6
        &-four
            grid-column: 2 / 3
            grid-row: 5 / 6
            margin-left: 20px
            width: 90%
    .forth
        &__second
            padding-right: 20px
    .others
        &__container
            grid-template-columns: 263px auto 263px
            grid-template-rows: 170px 170px 170px 170px 170px
        &__first
            width: 740px
            &-comment
                justify-content: space-between
            &-decr
                flex-basis: 100%
    .media-one
        width: 440px
        width: 90%
        margin-left: 20px
    .grid-four
        overflow-y: auto
        overflow-x: hidden
        scrollbar-color: grey grey
        scrollbar-width: thin
        &::-webkit-scrollbar
            width: 5px
            background-color: grey
            border-radius: 0 10px 10px 0
    .money
        &__text
            font-size: 35px
            width: 746px
@media (max-width: 1130px)
    .container
        width: 960px
        border: 1px solid red
    .header
        &__search
            &-input
                width: 180px
        &__navbar
            &-link
                margin-right: 25px
    .hero
        margin-top: 90px
    .themes
        &__post
            width: 190px
        &__text
            width: 130px
            font-size: 13.5px
        &__img
            width: 50px
            height: 50px
    .others__first
        width: 97%
@media (max-width: 1060px)
    .container
        width: 890px
        border: 1px solid yellow
    .header
        &__search
            &-input
                width: 150px
            &-button
                right: 10.3px
        &__navbar
            &-link
                margin-right: 20px
@media (max-width: 950px)
    .container
        width: 880px
        border: 1px solid green
    .header
        &__logo-img
            width: 140px
    .hero
        &__left
            &-block-text
                left: 35px
    .hero
        margin-top: 80px
    .media-one, .grid-four
        margin-left: 17px
    .money
        &__text
            font-size: 30px
            width: 706px
            margin-top: 40px
        &__button
            margin-bottom: 45px
@media (max-width: 930px)
    .container
        width: 840px
        border: 1px solid yellow
    .header
        &__logo-img
            width: 120px
    .avatar-block
        left: 35px
    .themes
        &__post
            width: 160px
        &__text
            width: 100px
            font-size: 13.5px
        &__container
            padding-top: 15px
            padding-bottom: 20px
@media (max-width: 890px)
    .container
        width: 93%
        border: 1px solid red
    .header
        &__search, &__navbar
            display: none
        &__logo-img
            width: 150px
        &__mobile-menu-hidden
            display: block
    .themes
        &__container
            flex-wrap: wrap
            justify-content: space-between
            padding-left: 20px
            padding-right: 20px
        &__post
            width: 100%
            justify-content: space-evenly
        &__link
            flex-basis: 48%
        &__text
            width: 200px
        &__line
            &:nth-last-child(4n)
                display: none
    .others
        &__container
            grid-template-columns: 5fr 7fr
            column-gap: 20px
            grid-template-rows: 170px 170px 170px 170px 170px 170px 170px 170px
        &__first, &__second
            width: 100%
        &__second-second
            justify-content: start
        &__first
            &-img
                margin-left: 10px
    .second
        &-comment
            &__text
                margin-left: 15px
    .grid
        &-two
            grid-column: 1 / 2
            grid-row: 6 / 8
        &-three
            width: 100%
            grid-column: 1 / 2
        &-four
            margin-left: 0
            width: 100%
        &-seven
            grid-row: 7 / 8 
            grid-column: 2 / 3
        &-nine
            grid-row: 6 / 7
            grid-column: 2 / 3
        &-ten
            grid-row: 8 / 9
            grid-column: 1 / 3
            justify-self: center
            background-color: #E5E5E5
            padding: 0
            height: 100px
    .fifth
        width: 100%
    .media-one
        width: 100%
        margin-left: 0
    .six
        width: 100%
    .money
        margin-top: -40px
        &__text
            font-size: 25px
            width: 530px
@media (max-width: 740px)
    .hero
        &__container
            flex-direction: column
            height: 870px
        &__image
            min-height: 400px
            border-radius: 10px 10px 0 0
        &__left-block
            min-height: 400px
            flex-basis: 400px
            &-text
                right: 35px
                bottom: 10px
        &__right-block
            min-width: 100%
            width: 100%
            border-radius: 0 0 10px 10px
    .text-block
        &__third
            margin-top: -50px
            margin-left: auto
        &__second
            font-size: 30px
    .right-block
        &::-webkit-scrollbar
            border-radius: 0 0 10px 0
        &__text-descr
            max-width: 100%
    .themes
        &__text
            width: 150px
@media (max-width: 690px)
    .container
        width: 87.5%
        border: 1px solid green
    .hero
        &__left-block
            &-text
                top: 190px
    .text-block
        &__third
            margin-top: 15px
            margin-left: 0
    .themes
        &__container
            padding-top: 25px
            padding-bottom: 25px
        &__link
            flex-basis: 100%
        &__text
            width: 70%
        &__line
            display: block
            height: 1px
            width: 100%
            margin-top: 15px
            margin-bottom: 15px
            &:nth-last-child(4n)
                display: block
@media (max-width: 650px)
    .others
        &__first
            &-decr
                width: 85%
            &-img
                width: 150px
                height: 210px
                margin-left: 10px
    .others
        &__container
            display: block
    .grid
        &-one, &-two, &-three, &-four, &-five, &-seven, &-six, &-eight, &-nine, &-ten
            width: 100%
            margin-bottom: 30px
    .third
        &__list
            height: 45px
            width: 35px
    .money
        margin-top: 0px
        &__text
            font-size: 20px
            width: 430px
@media (max-width: 600px)
    .text-block
        &__second
            font-size: 25px
@media (max-width: 550px)
    .others
        &__first
            &-one
                padding-left: 30px
                padding-right: 30px
            &-img
                display: none
    .money
        &__text
            width: 271px
@media (max-width: 400px)
    .text-block
        &__second
            margin-top: 10px
    .container
        border: none
    .mobile
        &__navbar
            &-link
                margin-top: 20px
                font-size: 16px
        &__search
            &-input
                width: 230px
                padding-right: 45px
            &-icon
                width: 15px
                height: 15px
            &-button
                right: 16.3px
                top: 12px
    .seven
        &__icon
            width: 35px
            height: 35px
    .money
        &__text
            width: 90%
@media (max-width: 393px)
    .hero
        &__left-block-text
            top: 170px
    .text-block
        &__second
            line-height: 40px
@media (max-width: 363px)
    .hero
        &__left-block-text
            left: 23px
            right: 23px
    .six
        &__title, &__title-analog
            width: 90%
@media (max-width: 335px)
    .hero
        &__left-block-text
            top: 130px
@media (max-width: 315px)
    .second-comment__meta
        width: 80%
        &-date
            display: none
@media (max-width: 300px)
    .mobile
        &__search
            &-form
                display: none
.container
    border: none
