*
    box-sizing: border-box
body
    background-color: #E5E5E5
@font-face
    font-family: 'Lato-Cyrillic'
    src: url('../fonts/Lato/Lato-Black.ttf')
    font-weight: 900
@font-face
    font-family: 'Lato-Cyrillic'
    src: url('../fonts/Lato/Lato-Bold.ttf')
    font-weight: 700
@font-face
    font-family: 'Lato-Cyrillic'
    src: url('../fonts/Lato/Lato-Regular.ttf')
    font-weight: 400
@font-face
    font-family: 'Lato-Cyrillic'
    src: url('../fonts/Lato/Lato-Light.ttf')
    font-weight: 300
@font-face
    font-family: 'Lato-Cyrillic'
    src: url('../fonts/Lato/Lato-Thin.ttf')
    font-weight: 100

.container
    max-width: 1140px
    margin: auto
    // border: 1px solid red
.body-overflow-hidden
    overflow: hidden
.message-box
    top: 40px
    border-radius: 0 0 5px 5px
    width: 313px
    color: white
    background-color: red
    font-family: Lato, sans-serif
    font-weight: 400
    font-size: 16px
    padding: 3px 10px
#email-error
    position: absolute