body
    background-color: #fff
.header
    height: 70px
    background-color: #ffffff
    &__navbar-link
        color: #939699
    &__search-input
        background-color: #F5F5F5
        &::placeholder
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: #939699
    &__search-button
        background-color: #F5F5F5
.menu__block
    background-color: #939699


.hero
    margin-top: 70px
    margin-bottom: 0
    background: linear-gradient(0deg, rgba(38, 45, 51, 0.75), rgba(38, 45, 51, 0.75)), url('../img/article-hero.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    height: 590px
    width: 100%
.mains
    padding-left: 97px
    padding-right: 97px
    padding-top: 60px
    padding-bottom: 72px
    display: flex
    flex-direction: column
    justify-content: start

    position: relative
    &__bookmark
        width: 30px
        height: 30px
        position: absolute
        top: 150px
        left: 0
        cursor: pointer
    &__first
        width: 100%
        height: 20px
        display: flex
        align-items: center
        justify-content: space-between
    &__type
        font-family: Lato-Cyrillic, sans-serif
        font-weight: 900
        font-size: 12px
        line-height: 15px
        letter-spacing: 0.5px
        text-transform: uppercase
        color: #4592FF
    &__nav
        display: flex
        align-items: center
    &__link
        font-family: Lato-Cyrillic, sans-serif
        font-weight: 900
        font-size: 14px
        line-height: 20px
        color: #FFFFFF
        display: flex
        align-items: center
        margin-left: 30px
        text-decoration: none
        &:first-child
            margin-left: 0
        &:last-child
            margin-left: 20px
        &:hover
            color: #4592FF
    &__title
        margin-top: 50px
        max-width: 750px
        font-family: Roboto Slab
        font-weight: 700
        font-size: 55px
        line-height: 70px
        color: #FFFFFF
    &__descr
        margin-top: 30px
        max-width: 632px
        font-family: Lato-Cyrillic, sans-serif
        font-weight: 400
        font-size: 18px
        line-height: 30px
        color: #FFFFFF
        opacity: 0.85
    &__meta
        margin-top: 43px
        max-width: 223px
        display: flex
        justify-content: space-between
        align-items: center
        &-clock, &-likes, &-comments
            display: flex
            align-items: center
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 400
            font-size: 12px
            line-height: 15px
            color: #FFFFFF
            opacity: 0.85
    &__icon
        width: 20px
        height: 20px
        margin-right: 5px
        &-another
            width: 15px
            height: 15px
            margin-right: 5px
        &-last
            margin-left: 5px
            margin-right: 0
    &__h2
        display: none

.text
    margin-top: 0
    background-color: #ffffff
    padding-top: 60px
    &__paragraph
        margin: 0
        margin-left: 97px
        max-width: 620px
        font-family: Lato-Cyrillic, sans-serif
        font-weight: 400
        font-size: 18px
        line-height: 30px
        color: #4B5157
        padding-bottom: 30px
        &::first-child
            margin-bottom: 0
        &-block
            display: flex
            justify-content: space-between
            align-items: start
        &-post
            margin-right: 97px
            width: 263px
            text-decoration: none
            margin-top: 135px
        &-title
            font-family: Roboto Slab
            font-weight: 700
            font-size: 20px
            line-height: 25px
            color: #262D33
            margin-bottom: 20px
        &-material
            width: 100%
            margin-bottom: 11px
        &-name
            font-family: Roboto Slab
            font-weight: 700
            font-size: 16px
            line-height: 25px
            color: #262D33
            margin-bottom: 5px
        &-descr
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: #4B5157
            margin-bottom: 20px
        &-likes, &-views
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 400
            font-size: 12px
            line-height: 15px
            color: #939699
            display: flex
            justify-content: space-between
        &-views
            width: 51px
            margin-right: 10px
        &-likes
            width: 41px
        &-meta
            display: flex
        &-first::first-letter
            font-family: Lato-Cyrillic, sans-serif
            font-size: 100px
            font-weight: 400
            line-height: 75px
            color: #4592FF
            float: left
            padding: 0
            margin: 0
            padding-right: 10px
            padding-top: 7px
            padding-bottom: 8px
            margin-left: -7px
            font-weight: 800
            display: inline-block
    &__title
        margin-top: 15px
        margin-bottom: 30px
        margin-left: 97px
        font-family: Roboto Slab
        font-weight: 700
        font-size: 25px
        line-height: 30px
        color: #262D33
    &__slider
        margin-top: 15px
        margin-bottom: 45px
    &__author
        position: absolute
        background: #FFFFFF
        border: 1px solid #D9DADB
        box-sizing: border-box
        border-radius: 10px
        right: 98px
        top: -160px
        &-first
            display: flex
            flex-direction: column
            align-items: center
            border-bottom: 1px solid #D9DADB
            padding-left: 57.5px
            padding-right: 57.5px
        &-second
            display: flex
            justify-content: center
            padding-top: 15px
            padding-bottom: 15px
        &-name
            font-family: Roboto Slab
            font-weight: 700
            font-size: 20px
            line-height: 25px
            color: #262D33
        &-type
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: #4B5157
            margin-top: 5px
        &-articles
            margin-top: 15px
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 900
            font-size: 14px
            line-height: 20px
            color: #262D33
            margin-bottom: 19px
    &__avatar
        width: 90px
        height: 90px
        margin-top: 35px
        margin-bottom: 15px
    &__container
        position: relative
    &__link
        text-decoration: none
        font-family: Lato-Cyrillic, sans-serif
        font-weight: 900
        font-size: 14px
        line-height: 20px
        color: #262D33
        &:hover
            color: #4592FF
    &__slider
        height: 625px
        width: 100%
        margin: 0
        margin-bottom: 37px
        margin-top: 38px
        background: #FFFFFF
        border: 1px solid #D9DADB
        border-radius: 10px
        &-image
            width: 100%
            height: 100%
            object-fit: cover
        &-meta
            display: flex
            justify-content: space-between
            &-one
                padding: 25px 35px
                &-one
                    font-family: Lato-Cyrillic, sans-serif
                    font-weight: 400
                    font-size: 14px
                    line-height: 20px
                    color: #4B5157

                    overflow: hidden
                    text-overflow: ellipsis
                    display: -webkit-box
                    -webkit-line-clamp: 1
                    -webkit-box-orient: vertical
            &-two
                width: 262px
                border-left: 1px solid #D9DADB
                display: flex
                align-items: center
                padding-left: 30px
                padding-right: 35px
            &-icon
                margin-right: 10px
            &-name
                font-family: Lato-Cyrillic, sans-serif
                font-weight: 400
                font-size: 14px
                line-height: 20px
                color: #4B5157
            &-type
                font-family: Lato-Cyrillic, sans-serif
                font-weight: 400
                font-size: 12px
                line-height: 15px
                color: #939699
                margin-top: 2px
            &-descr
                flex-basis: 100%
    &__quote
        margin-top: 50px
        margin-bottom: 45px
        position: relative
        width: 624px
        margin-left: 97px
        &-text
            font-family: Roboto Slab
            font-weight: 7000
            font-size: 25px
            line-height: 30px
            color: #262D33
            z-index: 100
            position: relative
        &-icon
            position: absolute
            top: -20px
            left: -20px
            z-index: 0
    &__tags
        margin-left: 97px
        padding-top: 15px
        padding-bottom: 60px
        display: flex
        flex-wrap: wrap
        &-tag
            padding: 4px 14px
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 900
            font-size: 14px
            line-height: 20px
            color: #262D33
            border: 1px solid #D9DADB
            border-radius: 5px
            margin-right: 10px
            cursor: pointer
            &:last-child
                margin-right: 0
            &:hover
                background-color: #262D33
                color: #fff
    &__devider
        max-width: 653px
        background-color: #D9DADB
        height: 1px
        margin-left: 97px
    &__repost
        margin-left: 97px
        padding-top: 30px
        padding-bottom: 90px
        &-text
            font-family: Roboto Slab
            font-weight: 700
            font-size: 25px
            line-height: 30px
            color: #262D33
        &-buttons
            margin-top: 25px
            display: flex
            margin-left: 2px
        &-button
            margin-right: 14px
            background: #4592FF
            border-radius: 20px
            padding: 10px 20px
            border: none
            display: flex
            align-items: center
            justify-content: space-between
            &:hover
                background-color: #95c0fc
            &-icon
                width: 20px
                height: 20px
                margin-right: 8px
                display: block
            &-text
                font-family: Lato-Cyrillic, sans-serif
                font-weight: 900
                font-size: 14px
                line-height: 20px
                color: #FFFFFF 
                margin-right: 8px
            &-number
                font-family: Lato-Cyrillic, sans-serif
                font-weight: 400
                font-size: 14px
                line-height: 20px
                color: #FFC4C9
            &:last-child
                margin-right: 0
.swiper
    &-container
        width: 100%
        height: 555px
    &-button
        &-prev
            height: 60px !important
            width: 60px !important
            left: 35px !important
            margin-top: -30px !important
            &::after
                content: url('../img/article-slide-prev.svg') !important
                height: 60px
                width: 60px
        &-next
            height: 60px !important
            width: 60px !important
            right: 35px !important
            margin-top: -30px !important
            &::after
                content: url('../img/article-slide-next.svg') !important
                height: 60px
                width: 60px

.articles
    &__container
        padding-top: 60px
        padding-bottom: 90px
        display: flex
        justify-content: space-between
    &__block
        width: 263px
    &__img
        border-radius: 10px
        width: 100%
        height: 180px
        object-fit: cover
    &__title
        font-family: Roboto Slab
        font-weight: 700
        font-size: 16px
        line-height: 25px
        color: #262D33
        margin-top: 11px
        margin-bottom: 15px
        width: 100%
    &__views, &__comments
        font-family: Lato-Cyrillic, sans-serif
        font-weight: 400
        font-size: 12px
        line-height: 15px
        color: #939699
        display: flex
        align-items: center
        margin-right: 10px
    &__meta
        display: flex
    &__icon
        margin-right: 5px
    &__link
        text-decoration: none
.comments
    padding-top: 90px
    background-color: #fff
    &__avatar
        border-radius: 50%
    &__title
        font-family: Roboto Slab
        font-weight: 700
        font-size: 40px
        line-height: 50px
        color: #262D33
    &__number
        font-family: Lato-Cyrillic, sans-serif
        font-weight: 400
        font-size: 40px
        line-height: 50px
        color: #939699
    &__first
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 29px
    &__add
        padding: 9px 19px
        border: 1px solid #D9DADB
        border-radius: 20px
        display: flex
        align-items: center
        background-color: #fff

        font-family: Lato-Cyrillic, sans-serif
        font-weight: 900
        font-size: 14px
        line-height: 20px
        color: #262D33
        &:hover
            background-color: #4592FF
            color: #BCBFC2
    &__load
        &:hover
            background-color: #4592FF
            color: #BCBFC2
    &__icon
        width: 20px
        height: 20px
        margin-right: 10px
    &__container
        padding-left: 97px
        padding-right: 293px
    &__comment
        padding-top: 20px
        padding-bottom: 29px
        border-top: 1px solid #D9DADB
        display: flex
        &:last-child
            padding-bottom: 30px
        &-hide
            display: none
        &-visible
            display: flex
        &-three .comments__descr-comment
            margin-bottom: 45px
        &-two
            margin-left: 90px
    &__avatar
        width: 75px
        height: 75px
        margin-right: 15px
    &__descr
        &-meta
            display: flex
            align-items: center
            flex-wrap: wrap
            &-name
                font-family: Roboto Slab
                font-weight: 700
                font-size: 16px
                line-height: 25px
                color: #262D33
            &-date
                margin-left: 10px
                font-family: Lato-Cyrillic, sans-serif
                font-weight: 400
                font-size: 12px
                line-height: 15px
                color: #939699
        &-comment
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 400
            font-size: 18px
            line-height: 30px
            color: #4B5157
            margin-top: 10px
            margin-bottom: 15px
            max-width: 570px
        &-m
            display: flex
            &-icon
                width: 15px
                height: 15px
            &-comments
                font-family: Lato-Cyrillic, sans-serif
                font-weight: 400
                font-size: 12px
                line-height: 15px
                color: #262D33
                display: flex
                align-items: center
                margin-right: 15px
                width: 73px
                justify-content: space-between
                text-decoration: none
            &-likes
                text-decoration: none
                font-family: Lato-Cyrillic, sans-serif
                font-size: 12px
                line-height: 15px
                color: #3DC47E
                display: flex
                align-items: center
            &-icon
                margin-right: 10px
                &:last-child
                    margin-right: 0
                    margin-left: 10px
    &__load
        border: 1px solid #D9DADB
        border-radius: 25px
        margin-bottom: 60px
        padding-top: 14px
        padding-bottom: 14px
        text-decoration: none

        font-family: Lato-Cyrillic, sans-serif
        font-weight: 900
        font-size: 14px
        line-height: 20px
        color: #262D33
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        &-icon
            width: 15px
            height: 15px
            margin-right: 7px
            margin-left: 25px
    &__opinion
        width: 100%
        height: 290px
        background-color: #F5F5F5
        margin-bottom: 30px
        border-radius: 10px
        padding: 30px 40px 35px 30px

        display: flex
        &-title
            font-family: Roboto Slab
            font-weight: 700
            font-size: 20px
            line-height: 25px
            color: #262D33
            margin-bottom: 15px
        &-textarea
            background: #FFFFFF
            border: 1px solid #D9DADB
            resize: none
            width: 100%
            height: 130px
            border-radius: 5px
            color: #262D33
            font-family: Lato-Cyrillic, sans-serif
            font-size: 14px
            padding: 10px
            &-block
                position: relative
            &-block:before
                content: ''
                position: absolute
                margin: 30px 0
                top: 0
                bottom: 0
                left: -8px
                width: 15px
                height: 15px
                background: #fff
                border-right: 1px solid #D9DADB
                border-bottom: 1px solid #D9DADB
                transform: rotate(135deg)
        &-img 
            width: 75px
            height: 75px
            margin-top: 40px
        &-button
            background-color: #4592FF
            border-radius: 20px
            border: none
            font-family: Lato-Cyrillic, sans-serif
            font-weight: 900
            font-size: 14px
            line-height: 20px
            color: #FFFFFF
            padding: 10px 20px
            display: flex
            align-items: center
            margin-top: 15px
            &:hover
                background-color: #95c0fc
            &-img
                margin-left: 8px
                margin-right: 2px
        &-form
            width: 100%
            &-block
                margin-left: 21px
                width: 100%

@media (max-width: 1200px)
    .text
        padding-top: 30px
        &__author
            position: static
            margin-bottom: 30px
        &__paragraph
            margin-right: 97px
            max-width: 100%
            &-post
                display: none
        &__devider
            margin-right: 97px
            max-width: 100%
    .articles
        &__block
            width: 230px
        &__container
            padding-top: 0
            padding-bottom: 0px
            flex-wrap: wrap
            justify-content: space-evenly
        &__link
            flex-basis: 45%
            margin-bottom: 30px
        &__block
            width: 100%
    .comments
        &__container
            padding-right: 97px
        &__title, &__number
            font-size: 35px
@media (max-width: 1060px)
    .mains
        &__title
            font-size: 45px
        &__bookmark
            right: 0
            top: 90px
            left: 100%
            transform: translate(-30px, 0)
@media (max-width: 992px)
    .header__navbar
        &-link:hover
            color: #939699
    .mains
        &__link:hover
            color: #ffffff
    .comments
        &__opinion
            &-button
                &:hover
                    background-color:  #4592FF
        &__add:hover, &__load:hover
            background-color: #fff
            color: #262D33
    .text
        &__repost
            &-button:hover
                background-color: #4592FF
    .text
        &__tags-tag:hover
            background-color: #ffffff
            color: #262D33
        &__link:hover
            color: #262D33
@media (max-width: 950px)
    .mains
        padding-left: 57px
        padding-right: 27px
        &__bookmark
            top: 110px
    .text
        &__paragraph
            margin-left: 50px
            margin-right: 50px
        &__title, &__tags, &__repost
            margin-left: 50px
        &__devider
            margin-right: 50px
            margin-left: 50px
    .comments
        &__container
            padding-left: 50px
            padding-right: 50px
        &__title, &__number
            font-size: 30px
@media (max-width: 890px)
    .mains
        padding-left: 20px
        padding-right: 20px
    .text
        &__quote
            margin-left: 50px
        &__slider
            height: 525px
            &-meta-name
                font-size: 12px
    .swiper-container
        height: 455px
@media (max-width: 770px)
    .mains
        &__title
            font-size: 35px
    .text
        &__paragraph
            margin-left: 0px
            margin-right: 0px
        &__title, &__tags, &__repost
            margin-left: 0px
        &__devider
            margin-right: 0px
            margin-left: 0px
        &__slider
            height: 425px
            &-meta-name
                font-size: 11px
            &-meta-two
                padding-left: 10px
                padding-right: 10px
        &__quote
            margin-left: 30px
            padding-right: 10px
            width: 100%
            display: inline
    .swiper-container
        height: 355px
    .articles
        &__container
            justify-content: space-between
        &__link
            flex-basis: 48%
    .comments
        &__container
            padding-right: 0
            padding-left: 0
        &__title, &__number
            font-size: 25px
        &__descr-comment
            font-size: 16px
@media (max-width: 650px)
    .mains
        &__title
            line-height: 50px
        &__descr
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 4
            -webkit-box-orient: vertical
    .hero
        height: 550px
@media (max-width: 574px)
    .mains
        &__meta
            margin-top: 23px
    .swiper
        &-button
            &-prev
                left: 10px !important
            &-next
                right: 10px !important
    .text__slider-meta-two
        display: none 
    .text
        &__slider
            height: 325px
    .swiper-container
        height: 255px
    .comments
        &__first
            flex-wrap: wrap
        &__title
            flex-basis: 100%
            margin-bottom: 15px
        &__descr
            &-comment
                font-size: 15px
        &__opinion
            margin-bottom: 0
            padding-right: 20px
            padding-left: 10px
            &-img
                width: 60px
                height: 60px
            &-title
                font-size: 17px
        &__avatar
            width: 60px
            height: 60px
@media (max-width: 550px)
    .mains
        padding-left: 0px
        padding-right: 0px
        &__title
            font-size: 30px
            margin-top: 20px
            overflow: hidden
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 3
            -webkit-box-orient: vertical
        &__first
            flex-wrap: wrap-reverse
            margin-top: 30px
        &__type
            flex-basis: 100%
            margin-top: 30px
        &__meta
            margin-top: 43px
    .text
        &__tags
            &-tag
                display: inline-block
                margin-top: 20px
        &__repost
            &-buttons
                display: block
            &-button
                margin-top: 10px
        &__author-name
            text-align: center
    .articles
        &__link
            flex-basis: 100%
            margin-bottom: 30px
        &__block
            width: 100%
@media (max-width: 510px)
    .comments
        &__opinion
            padding-bottom: 0px
            &-textarea
                height: 100px
@media (max-width: 400px)
    .mains
        &__link
            font-size: 13px
    .comments
        &__opinion
            &-img
                width: 40px
                height: 40px
            &-title
                font-size: 17px
        &__avatar
            width: 50px
            height: 50px
        &__comment
            &-two
                margin-left: 20%
@media (max-width: 350px)
    .mains
        &__link
            margin-left: 10px
            font-size: 12px
@media (max-width: 310px)
    .mains
        &__icon
            display: none
    .comments
        &__descr
            &-m
                flex-wrap: wrap
                &-comments
                    flex-basis: 100%
                    display: flex
                    justify-content: start
                    margin-bottom: 10px
